# Godot-specific ignores
.import/
export.cfg
/out

# i think this is needed for server side export
# export_presets.cfg

Godot_v*-stable_linux_headless.64

# Mono-specific ignores
.mono/
mono_crash.*.json

# System/tool-specific ignores
.directory
*~